{% extends 'base.html' %}


{% block content %}


    
  

            <form action = "{{url_for('archivos')}}" method = "POST" enctype = "multipart/form-data" class="row">

            <button class="btn btn-dark col-md-3 mx-auto my-3 " onclick="document.getElementById('getFile').click()">Ingresar Aportes & Deducciones</button>
            <input type='file' id="getFile" style="display:none">
            <input type="submit" value="aceptar">
         </form>
        





{% endblock content %}